body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #2a2b2c;
}

button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: #f3eded;
}

.calendar__header {
  padding: 10px;
  color: #f3eded;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

.calendar__header button {
  background-color: #bb4242;
}

.calendar-container {
  width: 770px;
}

.calendar__weekdays {
  width: 100%;
  display: flex;
  color: #f3eded;
}

.calendar__weekdays div {
  width: 100px;
  padding: 10px;
}

.calendar__days {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #bb4242;
}

.day+.currentDay {
  background-color: #f3eded;
}

.padding {
  cursor: default !important;
  background-color: #2a2b2c !important;
  box-shadow: none !important;
}

.calendar__weekdays div {
  width: 100px;
  margin-left: 14px;
}